---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import getUniqueCategories from "@utils/getUniqueCategories";
import { SITE } from "@config";
import { _t } from "lang/lang";

const posts = await getCollection("blog");

let categories = getUniqueCategories(posts);
---

<Layout title={`Categories | ${SITE.title}`}>
  <Header activeNav="categories" />
  <Main pageTitle={_t.categories} pageDesc={_t.categoriesDesc}>
    <ul>
      {categories.map(({ name }) => <span>{name}</span>)}
    </ul>
  </Main>
  <Footer />
</Layout>
